* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  transform: scale(1.1);
}
.divONE {
  width: 1250px;
  height: 2000px;
  background-color: #1e2538;
}
h1 {
  color: aliceblue;
}
b .text1 {
  font-family: Qanelas;
  font-size: 40px;
  font-weight: 900;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  position: relative;
  top: 30px;
}
b .text2 {
  position: relative;
  bottom: 50px;
  right: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: end;
  margin-bottom: 100px;
}
